/* Modern and Clean Look */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background: #f4f4f4;
    margin: 0 0 1rem 0;
    padding: 0;
}

nav {
    background: #ffffff;
    box-shadow: 0px 0px .15rem #212529;
    margin-bottom: 2rem;
}

.nav-semantic {
    margin-left: 15%;
}

header .navbar-brand {
    color: #333;
}

nav a.navbar-brand, nav .navbar-nav .nav-link {
    color: #333;
}

nav .navbar-brand {
    flex-basis: 10%;
    text-align: center;
}

nav ul{
    flex-basis: 83%;
    text-align: center;
    
}
nav ul li {
    flex-basis: 12.5%;
    text-align: center;
    font-size: 1.25rem;
}

li {
    font-size: 1.25rem;
}
.container {
    max-width: 90rem;
}

/* Adjustments for Main and Aside Sections */
main section, main aside {
    padding: 20px;
    background: #ffffff;
    box-shadow: 0px 0px .15rem #212529;
}

section h2 {
    font: bolder;
}
.card-body, aside h3 {
    font-size: 1.5rem;
}

aside {
    text-align: center;
}

aside h3 {
    padding-top: .5rem;
}

